<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="komed-cordova-plugin-twiliovoice"
    version="2.5.0">

    <name>TwilioVoice</name>
    <description>Use the Twilio Voice SDK for iOS or Android with Cordova/PhoneGap. Successor to Twilio Client Plugin</description>
    <author>Jeff Linwood/Stevie Graham/Lyle Pratt</author>
    <license>MIT</license>
    <js-module name="CordovaCall" src="www/TwilioVoicePlugin.js">
        <clobbers target="TwilioPlugin.TwilioVoiceClient" />   
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.4.0"/>
    </engines>

    <!-- Necessary to set app name for incoming call notifications on Android and CallKit on iOS -->
    <preference name="INCOMING_CALL_APP_NAME" default=""/>

    <!-- Necessary to enable CallKit on iOS -->
    <preference name="ENABLE_CALL_KIT" default="false"/>

    <!-- Option to mask the incoming phone number for privacy -->
    <preference name="MASK_INCOMING_PHONE_NUMBER" default="false"/>

    <!-- ios -->
    <platform name="ios">
        <!-- Add the Twilio Voice plugin to the iOS app's config.xml -->
        <config-file target="config.xml" parent="widget">
          <feature name="TwilioVoicePlugin">
            <param name="ios-package"
                value="TwilioVoicePlugin"/>
          </feature>
        </config-file>

        <framework src="SystemConfiguration.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="PushKit.framework" />
        <framework src="CallKit.framework" />
                
        <!-- Add support for background VOIP and audio to the plist -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>voip</string>
                <string>audio</string>
            </array>
        </config-file>

        <!-- Add Privacy Description for Microphone Usage -->
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>The app uses the microphone for voice calls</string>
        </config-file>
        
        <!-- Add Incoming Call App Name for CallKit -->
        <config-file target="*-Info.plist" parent="TVPIncomingCallAppName">
          <string>$INCOMING_CALL_APP_NAME</string>
        </config-file>
        
        <!-- Add Enable CallKit Preference to plist -->
        <config-file target="*-Info.plist" parent="TVPEnableCallKit">
          <string>$ENABLE_CALL_KIT</string>
        </config-file>
        
        <!-- Add Enable CallKit Preference to plist -->
        <config-file target="*-Info.plist" parent="TVPMaskIncomingPhoneNumber">
          <string>$MASK_INCOMING_PHONE_NUMBER</string>
        </config-file>

        <!-- Add push entitlements -->
        <config-file target="*-Debug.plist" parent="aps-environment">
          <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
          <string>production</string>
        </config-file>
        

        <header-file src="src/ios/TwilioVoicePlugin.h" />
        <source-file src="src/ios/TwilioVoicePlugin.m" />
        
<!--         <framework src="TwilioVoice" type="podspec" spec="2.0.4" /> -->
        <resource-file src="sounds/ringing.wav" />
        <resource-file src="sounds/traditionalring.mp3" />
        <info>
You need to download __Twilio Voice SDK for iOS__ from https://media.twiliocdn.com/sdk/ios/voice/releases/2.0.1/twilio-voice-ios-2.0.1.tar.bz2. Uncompress the download - you will need to follow two steps that plugman can not do yet:

* Add the Twilio Voice framework (TwilioVoice.framework) to your Xcode project
* Add the Twilio Voice framework (TwilioVoice.framework) as an embedded binary to your Xcode project

        </info>
    </platform>
</plugin>
